$themeColorWrite: #f4f5f0;
$themeColorBeige: #ebefe2;
$themeColorLightGreen: #e1e4d7;
$themeColorGray: #faf8f0;

$themeColorTitle: #373e42;
$themeColorText: #566358;

$themeColorTitleBackground: #93c42e;


$desktop: 1800px;
$laptop: 1200px;
$ipad: 768px;
$iphone: 380px;
$minHeight: 330px