.about-work
{


  height: 100%;
  position: relative;
  background-color: $themeColorBeige;
  width: 50%;

  @include ipads()
  {
    width: 100%;
    height: rem(270px);
  }

  @include iphones()
  {
    height: rem(270px);
  }


  &__wrapper
  {
    @include centered();

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title
  {
    width: rem(350px);

    @include ipads()
    {
      width: rem(572px);
    }

    @include iphones()
    {
      width: rem(350px);

    }
  }

  &__tech
  {
    margin-top: rem(25px);
    margin-bottom: rem(60px);
    text-transform: uppercase;
    @include roboto(medium);
    color: #4e8839;

    @include ipads()
    {
      margin-bottom: rem(30px);
    }

  }
}