.about
{
  display: flex;
  height: rem(900px);

  &__left
  {
    width: 50%;
    background-color: $themeColorWrite;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    @include laptops()
    {
      flex-direction: column;
      align-items: center;
    }
  }

  &__right
  {
    width: 50%;
    background-color: $themeColorBeige;
    position: relative;
  }

  &__triangle
  {
    position: absolute;
    bottom: 100%;
  }

  &__section-title
  {
    width: 50%;
    margin-top: rem(-40px);

    @include laptops()
    {
      width: 100%;
    }
  }

}