.about
{

  height: 100vh;

  @include ipads()
  {
    height: auto;
  }


  &__content
  {
    max-width: rem(1800px);
    width: 100%;
    display: flex;
    height: 100%;

    @include ipads()
    {
      flex-direction: column;
    }
  }

  &__who
  {
    width: 50%;
    display: flex;
    //padding-top: rem(50px);

    @include laptops()
    {
      flex-direction: column;
      align-items: center;
    }

    @include ipads()
    {
      width: 100%
    }
  }

  &__useful
  {
    //padding-top: rem(50px);
    width: 50%;

    @include ipads()
    {
      width: 100%
    }
  }

  &__section-title
  {
    width: 50%;
    margin-top: rem(-40px);
    height: rem(120px);

    @include laptops()
    {
      width: 100%;
      margin-top: rem(5px);
    }

    @include ipads()
    {
      margin-top: rem(20px);
    }
  }

  &__triangle-right
  {

    @include ipads()
    {
      fill: $themeColorBeige !important;
    }

  }

}