.about-say
{
  //height: rem(1350px);
  position: relative;
  background-image: url(/img/bg/about-say.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;


  &__content
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: rem(790px);
    flex: 1 1 auto;
  }

  &__title
  {
    margin-top: rem(16px);
    width: rem(500px);

    @include iphones()
    {
      width: 90%;
    }
  }

  &__feedback
  {
    width: rem(380px);
    margin-top: rem(70px);
    margin-bottom: rem(150px);

    @include ipads()
    {
      margin-bottom: rem(130px);
    }

    @include ipads()
    {
      margin-top: rem(20px);
    }
  }

  &__reviews
  {
    margin-top: rem(20px);
  }

  &__leafs
  {
    position: absolute;

    &_pos1
    {
      top: rem(65px);
      left: 20%;

      @include laptops()
      {
        left: 2%;
      }

      @include ipads()
      {
        display: none;
      }
    }

    &_pos2
    {
      top: rem(530px);
      right: 20%;

      @include laptops()
      {
        right: 2%;
      }

      @include ipads()
      {
        display: none;
      }
    }

    &_pos3
    {
      top: rem(550px);
      left: 25%;

      @include laptops()
      {
        left: 15%;
      }

      @include ipads()
      {
        display: none;
      }
    }
  }

  &__btn-arrow
  {
    @include centered(x);
    bottom: rem(240px);

    @include ipads()
    {
      bottom: rem(320px);
    }

    @include iphones()
    {
      bottom: rem(390px);
    }
  }
}