.btn-rectangle
{
  text-decoration: none;
  background-color: #6c9c5a;
  border-radius: rem(7px);
  padding: rem(15px) rem(25px);
  color: #fff;
  display: inline-flex;
  align-items: center;
  transition: .4s;

  &:hover
  {
    background-color: lighten(#6c9c5a, 10%);

  }
}