.footer
{

  width: 100%;

  &_absolute
  {
    position: absolute;
    bottom: 0;
  }

  &__top
  {
    background-color: #53595c;
    opacity: 0.85;
    min-height: rem(150px);
    display: flex;
    justify-content: space-between;

    @include ipads()
    {
      flex-wrap: wrap;
    }

    @include iphones()
    {
      flex-direction: column;
    }
  }

  &__bottom
  {
    background-color: #7fa870;
    opacity: 0.85;
    min-height: rem(35px);
    color: #fff;
    text-align: center;
    line-height: rem(35px);
  }

  &__left
  {
    width: 33%;
    color: #fff;
    @include roboto(light);

    @include iphones()
    {
      display: flex;
      justify-content: center;
    }

    &-text
    {
      padding-top: rem(30px);
      padding-left: rem(25px);
      width: 70%;

      @include ipads()
      {
        width: 80%;
      }

      @include iphones()
      {
        width: 95%;
        padding-left: 0;
      }
    }

    @include ipads()
    {
      width: 50%;
      text-align: left;
    }

    @include iphones()
    {
      width: 100%;
      text-align: center;

    }
  }

  &__right
  {
    width: 33%;
    color: #fff;
    font-style: italic;

    &-text-top
    {
      padding-top: rem(30px);
      padding-right: rem(25px);
      padding-left: rem(25px);
      @include roboto(light);
      opacity: .5;

    }

    &-text-down
    {
      margin-top: rem(8px);
      padding-left: rem(25px);
      @include roboto(bolt);
      opacity: .5;
    }

    @include ipads()
    {
      width: 100%;
      padding-bottom: rem(30px);
      text-align: left;
    }

    @include iphones()
    {
      width: 100%;
      text-align: center;
    }
  }

  &__middle
  {
    width: 33%;
    position: relative;

    &:before, &:after
    {
      content: '';
      display: block;
      @include centered(y);
      background: #69716e;
      width: rem(1px);
      height: rem(90px);

      @include iphones()
      {
        height: rem(1px);
        width: rem(900px);
        @include centered(x);
      }

    }

    &:before
    {
      left: rem(-2px);

      @include iphones()
      {
        top: rem(15px);
      }
    }

    &:after
    {
      right: rem(-2px);

      @include ipads()
      {
        display: none;
      }

      @include iphones()
      {
        display: block;
        top: rem(110px);
      }
    }

    @include ipads()
    {
      width: 50%;
    }

    @include iphones()
    {
      width: 100%;
      justify-content: center;
    }
  }

  &__menu
  {
    display: flex;
    margin-top: rem(30px);
    margin-left: rem(25px);

    @include iphones()
    {
      margin-left: 0;
      justify-content: center;
    }

    &-item
    {
      margin-right: rem(40px);

      &:last-child
      {
        margin-right: 0;
      }

      @include laptops()
      {
        margin-right: rem(20px);
      }

      @include ipads()
      {
        margin-right: rem(15px);
      }


    }

    &-link
    {
      @include roboto(bold);
      color: #fff;
      text-decoration: none;
      transition: .4s;

      &:hover
      {
        text-decoration: underline;
      }

    }
  }

  &__socials
  {
    margin-top: rem(30px);
    margin-left: rem(25px);

    @include iphones()
    {
      width: 100%;
      justify-content: center;
      margin-left: 0;
      margin-top: rem(20px);
    }
  }

}