.menu
{
  width: rem(300px);

  &__item
  {
    text-align: right;
    padding: rem(15px) rem(20px);
    line-height: 1.5;
    cursor: pointer;
  }

  .active
  {
    font-weight: 600;
    color: #4e8839;
    border-right: 3px solid #4e8839;
  }
}