.reviews {
  display: flex;


  @include iphones()
  {
    flex-direction: column;
    align-items: center;
  }



  &__item
  {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @include iphones()
    {
      width: 95%;
      margin-bottom: rem(50px);
    }
  }

  &__icon
  {
    position: absolute;
    top: 5%;
    left: -10px;
    z-index: 1;
    fill: $themeColorTitleBackground;
    opacity: .2;
  }

  &__image {
    border-radius: 50%;
  }

  &__text {
    @include roboto();
    font-style: italic;
    line-height: 1.5;
    color: #5d5a55;
    margin-top: rem(12px);
    text-align: left;
  }

  &__signature
  {
    text-align: left;
    margin-top: rem(20px);
    @include roboto();
    font-style: italic;
    width: 50%;
  }

  &__signature-bold
  {
    @include roboto(bold);
    font-style: italic;
    color: #4e8839;
  }
}