.skill
{
  width: rem(120px);
  height: rem(120px);


  @include laptops()
  {
    width: rem(110px);
    height: rem(110px);
  }

  @include ipads()
  {
    width: rem(150px);
    height: rem(150px);
    margin-bottom: rem(30px);
  }

  position: relative;

  &__name
  {
    @include roboto(medium);
    font-size:rem(14px);
    color: #4e8839;
    @include centered();
    text-align: center;
    display: none;
  }


  &__circle
  {
    fill: none;
    stroke-width: 20;
    display: none;

  }

  &__circle-first
  {
    stroke: #dfdcd5;
  }

  &__circle-second
  {
    stroke: #74a163;
    stroke-dasharray: .0010 282.6;
    transition: all 2s;


    &_circle-0
    {
      stroke-dasharray: .001 282.6;
    }
    &_circle-10
    {
      stroke-dasharray: 28.26 282.6;
    }
    &_circle-15
    {
      stroke-dasharray: 42.39 282.6;
    }
    &_circle-20
    {
      stroke-dasharray: 56.52 282.6;
    }
    &_circle-25
    {
      stroke-dasharray: 70.65 282.6;
    }
    &_circle-30
    {
      stroke-dasharray: 84.78 282.6;
    }
    &_circle-35
    {
      stroke-dasharray: 98.91 282.6;
    }
    &_circle-40
    {
      stroke-dasharray: 113.04 282.6;
    }
    &_circle-45
    {
      stroke-dasharray: 127.17 282.6;
    }
    &_circle-50
    {
      stroke-dasharray: 141.3 282.6;
    }
    &_circle-55
    {
      stroke-dasharray: 155.43 282.6;
    }
    &_circle-60
    {
      stroke-dasharray: 169.56 282.6;
    }
    &_circle-65
    {
      stroke-dasharray: 183.69 282.6;
    }
    &_circle-70 {
      stroke-dasharray: 197.82 282.6;
    }
    &_circle-75 {
      stroke-dasharray: 211.95 282.6;
    }
    &_circle-80 {
      stroke-dasharray: 226.08 282.6;
    }
    &_circle-85 {
      stroke-dasharray: 240.21 282.6;
    }
    &_circle-90 {
      stroke-dasharray: 254.34 282.6;
    }
    &_circle-95 {
      stroke-dasharray: 268.47 282.6;
    }
    &_circle-100 {
      stroke-dasharray: 282.6 282.6;
    }

  }


}