.slider
{


  &__description
  {
    height: 100%;
    position: relative;
    background-color: $themeColorBeige;
    width: 50%;

    @include ipads()
    {
      width: 100%;
      height: rem(270px);
    }

    @include iphones()
    {
      height: rem(300px);
    }
  }

  &__site
  {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: $themeColorLightGreen;

    height: rem(530px);
    justify-content: center;
    align-items: center;

    @include ipads()
    {
      width: 100%;
      order: -1;
    }

    @include iphones()
    {
      height: rem(400px);
    }
  }

  &__btns
  {

    display: flex;
    width: 50%;

    @include ipads()
    {
      width: 100%;
    }
  }


  &__item
  {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after
    {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(#b0b7aa, .7);
      z-index: 5;
    }

    @include iphones()
    {
      height: rem(130px);
    }

  }


  &__picture
  {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: rem(220px);
  }

  &__main-picture
  {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__btn-arrow
  {
    @include centered();
  }
}