.slider
{
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &:after
  {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#b0b7aa, .7);
    z-index: 5;
  }

  @include iphones()
  {
    height: rem(130px);
  }


  &__list
  {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }



  &__picture
  {
    width: 100%;
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }

  &__btn-arrow
  {
    @include centered();
    z-index: 10;
  }


  &_first
  {
    & .slider__item
    {
      top: -100%;
    }
  }

  &_opposite
  {
    & .slider__item
    {
      top: 100%;
    }
  }

  &__item
  {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    &.active
    {
      top: 0;
    }
  }

}