.title
{
  color: $themeColorTitle;
  font-size: rem(63px);
  padding: rem(35px);
  position: relative;
  display: inline-block;
  z-index: 2;
  @include sansus();
  text-transform: uppercase;
  text-align: center;
  line-height: 1;

  @include iphones()
  {
    font-size: rem(50px);
  }

  &:after
  {
    content: '';
    display: block;
    @include centered(x);
    background: $themeColorTitle;
    width: rem(90px);
    height: rem(3px);
    bottom: rem(15px);
  }

  &__picture
  {
    @include centered();
    z-index: -1;
    fill: $themeColorTitleBackground;
    opacity: .2;

    @include iphones()
    {
      width: 100%;
    }
  }

  &_color_white
  {
    color: #fff;

    &:after
    {
      background: #fff;
    }
  }

  &_nounderline
  {
    &:after
    {
      display: none;
    }
  }
}