.triangle
{
  height: rem(160px);
  width: 100%;

  &__container
  {
    display: flex;
  }

  &__place
  {
    position: relative;
    width: 50%;
  }

  &__svg
  {
    position: absolute;
    bottom: 100%;
  }


  &_fill
  {
    &_white
    {
      fill: $themeColorWrite;
    }

    &_beige
    {
      fill: $themeColorBeige;
    }

    &_gray
    {
      fill: $themeColorGray;
    }


  }
}