.triangle
{


  &__container
  {
    display: flex;
  }

  &__place
  {
    position: relative;
    width: 50%;
    z-index: 20;
  }

  &__svg
  {
    position: absolute;
    bottom: 100%;
  }


  &_fill
  {
    &_white
    {
      fill: $themeColorWrite;
    }

    &_beige
    {
      fill: $themeColorBeige;
    }

    &_gray
    {
      fill: $themeColorGray;
    }


  }
}