.user
{
  color: #fff;


  &__name
  {
    @include roboto(medium);
    text-align: center;

    width: rem(350px);
    &_mt-large
    {
      margin-top: rem(35px);
    }

    &_mt-small
    {
      margin-top: rem(20px);
    }

    &_fz-large
    {
      font-size: rem(35px);
    }

    &_fz-small
    {
      font-size: rem(28px);
    }
  }

  &__desc
  {
    @include roboto();
    font-size: rem(16px);
    margin-top: rem(8px);
  }
}