.user-block
{
  width: rem(380px);
  height: rem(395px);
  background-color: rgba(#21392c, .7);
  @include centered();
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;

  &__intro
  {
    margin-top: rem(40px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__socials
  {
    display: flex;
    justify-content: center;
  }
}

