header.section.hero
    +water
    .container
        ul.socials.hero__socials
            each item in ["vk", "gh", "in"]
                li.socials__item
                    a(href="#" class=`socials__link socials__link_${item}`)
                        svg(width="30" height="22").socials__icon.socials__icon_white.socials__icon_hover_green
                            use(xlink:href=`/img/social/sprite.svg#${item}`)
        .hero__hamburger.hamburger
            .hamburger__spinner.hamburger__spinner_top
            .hamburger__spinner.hamburger__spinner_mid
            .hamburger__spinner.hamburger__spinner_bot

        a(href="#").btn-arrow.hero__btn-arrow
            svg.btn-arrow__icon.btn-arrow__icon_small.btn-arrow__icon_opacity
                use(xlink:href="/img/icons/sprite.svg#arrow-down")

        .hero__title
            .user.hero__user-block
                .avatar
                    .avatar__container
                        img(src="/img/content/user.jpg" alt="").avatar__img
                +title("Блог", "blog", "title_color_white")
                .user__desc Статьи которые я написал
