section.section.hero
    .hero__gradient
        header.hero__header
            ul.socials.hero__socials
                each item in ["vk", "gh", "in"]
                    li.socials__item
                        a(href="#" class=`socials__link socials__link_${item}`)
                            svg(width="30" height="22").socials__icon.socials__icon_white.socials__icon_hover_green
                                use(xlink:href=`/img/social/sprite.svg#${item}`)
            a(href="").hamburger.hero__hamburger
                svg(width="40" height="30").hamburger__icon
                    use(xlink:href="/img/icons/sprite.svg#hamburger")

        a(href="#").btn-arrow.hero__btn-arrow
            svg.btn-arrow__icon.btn-arrow__icon_small.btn-arrow__icon_opacity
                use(xlink:href="/img/icons/sprite.svg#arrow-down")


        .hero__title
            svg.section-title
                use(xlink:href="/img/decor/sprite.svg#portfolio")
            .user.hero__user-block
                .user__photo
                    .user__photo-avatar
                        img(src="/img/content/user.jpg" alt="").user__photo-img
                .user__name.user__name_mt-large.user__name_fz-large Будимир Вяземский
                .user__desc Личный сайт веб-разработчика