.menu-fullscreen
    ul.menu-fullscreen__list
        li.title.menu-fullscreen__item.title_nounderline
            a(href="works.html").menu-fullscreen__link Мои работы
        li.title.menu-fullscreen__item.title_nounderline
            a(href="about.html").menu-fullscreen__link Обо мне
        li.title.menu-fullscreen__item.title_nounderline
            a(href="blog.html").menu-fullscreen__link Блог
        li.title.menu-fullscreen__item.title_nounderline
            a(href="/").menu-fullscreen__link Главная
