mixin title (title, sprite, classes)
    .title(class=classes)= title
        svg(width="600" height="120").title__picture
            use(xlink:href=`/img/decor/sprite.svg#${sprite}`)


mixin triangle(direction, color, classes)
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none" class=`triangle_fill_${color} ${classes}`).triangle__svg
        if (direction == "left")
            polygon(points="0,0 0,100 1000, 100")
        if (direction == "right")
            polygon(points="0,100 1000, 100 1000 0")


mixin water
    .Background
        canvas.Background-canvas