extends ../main.layout.pug

block content
    section.welcome
        .intro
            .intro__title.subtitle.subtitle_color_white Авторизуйтесь

            form.form.intro__form
                .form__input-pic.form__input-pic_login
                    input(placeholder="Логин").form__input
                .form__input-pic.form__input-pic_password
                    input(placeholder="Пароль" type="password").form__input
                label.form__label
                    input(type="checkbox").form__check
                    span.form__check-fake
                    span.form__check-label Я человек
                .intro__label Вы точно не робот?
                .form__row
                    label.form__label.intro__radio
                        input(type="radio" name="robot").form__radio
                        span.form__radio-fake
                        span.form__radio-label Да
                    label.form__label
                        input(type="radio" name="robot").form__radio
                        span.form__radio-fake
                        span.form__radio-label Не уверен


            ul.btns
                li.btns__item.btns__item_half
                    a(href="/").btns__link На главную
                li.btns__item.btns__item_half
                    a(href="#").btns__link Войти

        .welcome__text © Будимир Вяземский | создано с любовью в LoftSchool | 2017