extends ../main.layout.pug

block content
    section.welcome
        a(href="").btn-transparent.welcome__btn-auth Авторизоваться
        .user-block
            .user.user-block__intro
                .user__photo
                    .user__photo-avatar
                        img(src="/img/content/user.jpg" alt="").user__photo-img
                .user__name.user__name_mt-small.user__name_fz-small Будимир Вяземский
                .user__desc Личный сайт веб-разработчика
            ul.socials.user-block__socials
                each item in ["vk", "gh", "in"]
                    li.socials__item
                        a(href="#" class=`socials__link socials__link_${item}`)
                            svg(width="30" height="22").socials__icon.socials__icon_grey.socials__icon_hover_green
                                use(xlink:href=`/img/social/sprite.svg#${item}`)
            ul.btns
                li.btns__item
                    a(href="works.html").btns__link Мои работы
                li.btns__item
                    a(href="about.html").btns__link Обо мне
                li.btns__item
                    a(href="blog.html").btns__link Блог
        .welcome__text © Будимир Вяземский | создано с любовью в LoftSchool | 2017