extends ../main.layout.pug

block content
    include ../mixins/hero.pug


    section.section.works
        .triangle__container
            .triangle__place
                +triangle("left", "white")
            .triangle__place
                +triangle("right", "white")
        .works__header
            +title("Мои работы", "works", "works__title")

        .container__main
            .container__fluid-left.container_color_biege
            .works__sliders
                .about-work
                    .about-work__wrapper
                        .subtitle.about-work__title Сайт школы онлайн образования
                        .about-work__tech HTML, CSS, JAVASCRIPT
                        a(href="").bnt-link.about-work__url
                            svg.bnt-link__icon
                                use(xlink:href="/img/icons/sprite.svg#chain")
                            span.bnt-link__text Посмотреть сайт
                .works__slide-show.slide-show
                    ul.slide-show__list
                        li.slide-show__item.active
                            img(src="/img/works/01.png").slide-show__img
                            .slide-show__text Сайт школы онлайн образования
                            .slide-show__tech HTML, CSS, JAVASCRIPT
                            .slide-show__url http://www.petya.ru1
                        li.slide-show__item
                            img(src="/img/works/02.png").slide-show__img
                            .slide-show__text Сайт о духовной шляпентохе
                            .slide-show__tech React, php, css
                            .slide-show__url http://www.petya.ru2
                        li.slide-show__item
                            img(src="/img/works/03.png").slide-show__img
                            .slide-show__text Сайт школы мега-дизайна
                            .slide-show__tech python, pug, scss
                            .slide-show__url http://www.petya.ru3
                .works__slider
                    .slider.slider_first
                        ul.slider__list
                            li.slider__item
                                img(src="/img/works/01.png").slider__picture
                            li.slider__item.active
                                img(src="/img/works/02.png").slider__picture
                            li.slider__item
                                img(src="/img/works/03.png").slider__picture
                        a(href="").btn-arrow.slider__btn-arrow
                            svg.btn-arrow__icon.btn-arrow__icon_big
                                use(xlink:href="/img/icons/sprite.svg#arrow-down")
                    .slider.slider_opposite
                        ul.slider__list
                            li.slider__item
                                img(src="/img/works/01.png").slider__picture
                            li.slider__item
                                img(src="/img/works/02.png").slider__picture
                            li.slider__item.active
                                img(src="/img/works/03.png").slider__picture
                        a(href="").btn-arrow.slider__btn-arrow
                            svg.btn-arrow__icon.btn-arrow__icon_big.btn-arrow__icon_up
                                use(xlink:href="/img/icons/sprite.svg#arrow-down")

            .container__fluid-right.container_color_light-green

    section.section.about-say
        .about-say__content
            +title("Что обо мне говорят", "about", "about-say__title")

            .about-say__reviews.reviews
                .reviews__item
                    svg.reviews__icon
                        use(xlink:href="/img/icons/sprite.svg#quotes")
                    .reviews__avatar
                        img(src="/img/content/review01.jpg").reviews__image
                    .reviews__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    .reviews__signature
                        span.reviews__signature-bold Ковальчук Дмитрий
                        |  — основатель Loftschool
                .reviews__item
                    svg.reviews__icon
                        use(xlink:href="/img/icons/sprite.svg#quotes")
                    .reviews__avatar
                        img(src="/img/content/review02.jpg").reviews__image
                    .reviews__text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                    .reviews__signature
                        span.reviews__signature-bold Сабанцев Владимир
                        |  — преподаватель
            .about-say__feedback.feedback
                .feedback__title.subtitle Связаться со мной
                form.feedback__form
                    input(placeholder="Имя").feedback__input.form__input
                    input(placeholder="E-mail" type="email").feedback__input.form__input
                    textarea(rows="6" placeholder="Ваше сообщение").feedback__input.form__input
                ul.btns
                    li.btns__item
                        a(href="works.html").btns__link Отправить
                    li.btns__item
                        a(href="about.html").btns__link Очистить

        img(src="/img/content/list1.png").about-say__leafs.about-say__leafs_pos1
        img(src="/img/content/list2.png").about-say__leafs.about-say__leafs_pos2
        img(src="/img/content/list3.png").about-say__leafs.about-say__leafs_pos3

        a(href="#").btn-arrow.about-say__btn-arrow
            svg.btn-arrow__icon.btn-arrow__icon_small.btn-arrow__icon_up
                use(xlink:href="/img/icons/sprite.svg#arrow-down")

        +footer

    include ../mixins/menu-fullscreen.pug


